.map-container {
    display: inline-block;
    width: 100%;
    height:100%;
    min-height: 20em;
    vertical-align: top;
    overflow: auto;
}

.map-commands {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 3;
  pointer-events: none;

  .menu-icon {
    cursor: pointer;
    color: cornsilk;
    font-size: 24px;
    width: 24px;
    height: 24px;
  }

  .zoom-action {
    font-weight: 800;
    font-size: 0.75rem;
    line-height: 1.4;
    color: cornsilk;
    width: 24px;
    height: 24px;

    &:first-child {
      border-bottom: 0;
    }
  }
}

.map-commands .menu {
  pointer-events: auto;
}

.map-commands .overlay-box {
  opacity: .95;
  background-color: rgba(220, 220, 220, .65);
  border-radius: .25rem;

}

.map-commands .group-control-container {
  max-width: 34.26em;
  font-size: .7em;
  cursor: pointer;
  color: #ffffff;
}

.map-commands .search-container {
  width: 24em;
  padding: .5rem;
  .results-container {
    max-height: 25em;
    overflow: scroll;
    display: none;
  }
  &:hover .results-container{
    display: block;
  }
}

.zoom-indicator {
  width: 24px;

  .zoom-bar {
    height: 5px;
    background-color: #5a5a5a;

    &.active {
      background-color: cornsilk;
    }
  }

  .zoom0 {
    width: 24px;
  }

  .zoom1 {
    width: 18px;
  }

  .zoom2 {
    width: 12px;
  }

  .zoom3 {
    width: 6px;
  }

}

.zoom-container {
  width: 100%;
  height: 100%;
}
